In [77]:
import csv
import pandas as pd
import mysql.connector
import numpy as np
import fonction as f

data = pd.read_sql

sql_conn =  mysql.connector.connect(host='213.190.6.22', database='u485051925_tecog', user='u485051925_cogueur',  password='Josiana34')
#sql_conn =  mysql.connector.connect(host='localhost', database='te_cog', user='root',  password='')
query = "SELECT * FROM digit"
data = pd.read_sql(query, sql_conn)

df = data.set_index(['id_sujet', 'trial', 'item'])
df

                     correct key_press correct_response       rt  \
id_sujet trial item
30       1     1           1         2                2  425.170
               2           1         9                9  135.260
               3           1         5                5  173.410
         2     1           1         4                4  648.540
               2           1         1                1  728.415
...                      ...       ...              ...      ...
32       14    4           0         9                7    0.110
               5           0         4                9   12.985
               6           0         2                8   27.445
               7           0         7                3  141.600
               8           0         5                1    4.100

                     time_elapsed   test_part
id_sujet trial item
30       1     1           124134   trial_1_1
               2           124270   trial_1_2
               3           124444   trial_1_3
         2     1           130598   trial_2_1
               2           131327   trial_2_2
...                           ...         ...
32       14    4           252346  trial_14_4
               5           252359  trial_14_5
               6           252387  trial_14_6
               7           252529  trial_14_7
               8           252533  trial_14_8

[282 rows x 6 columns]

In [63]:
query = "SELECT * FROM sujets"
sujets = pd.read_sql(query, sql_conn)
sujets

   id_sujet code_sujet
0        30       test
1        31       test
2        32       test

In [79]:
scores = []
index = []
for i in sujets['id_sujet']:
    scores.append(f.scoring(df.xs(i)))
    index.append(i)

pd.DataFrame(scores, index=index)

    0  1  2  3  4  5  6  7  8  9  10  11  12  13
30  1  1  1  0  0  0  0  0  0  0   0   0   0   0
31  1  1  1  0  0  0  0  0  0  0   0   0   0   0
32  1  1  1  0  0  0  0  0  0  0   0   0   0   0

In [57]:
print("empan :", np.sum(score))

empan : 3