In [4]:
import csv
import pandas as pd
import mysql.connector
import numpy as np

data = pd.read_sql

sql_conn =  mysql.connector.connect(host='213.190.6.22', database='u485051925_tecog', user='u485051925_cogueur',  password='Josiana34')
#sql_conn =  mysql.connector.connect(host='localhost', database='te_cog', user='root',  password='')
query = "SELECT * FROM digit"
df = pd.read_sql(query, sql_conn)

df = df.set_index(['id_sujet', 'trial', 'item'])
df

                    correct key_press correct_response       rt  time_elapsed  \
id_sujet trial item
29       1     1          1         9                9  641.905         12071
               2          1         5                5  253.075         12325
               3          1         7                7  280.415         12606
         2     1          1         2                2  722.750         18835
               2          1         5                5  297.320         19133
...                     ...       ...              ...      ...           ...
         14    4                    8                7   15.590        140457
               5                    3                1   38.665        140496
               6          1         9                9    0.110        140497
               7          1         6                6  254.120        140751
               8                    3                5  171.425        140923

                      test_part
id_sujet trial item
29       1     1      trial_1_1
               2      trial_1_2
               3      trial_1_3
         2     1      trial_2_1
               2      trial_2_2
...                         ...
         14    4     trial_14_4
               5     trial_14_5
               6     trial_14_6
               7     trial_14_7
               8     trial_14_8

[94 rows x 6 columns]

In [27]:
lesujet = 29

dfsujet = df.xs(lesujet)
score = []
pd.to_numeric(dfsujet['correct'])
dfsujet['correct'].sum()

'1111111111111111111111111111111'