In [87]:
import csv
import pandas as pd
import mysql.connector
import numpy as np

data = pd.read_sql

#sql_conn =  mysql.connector.connect(host='213.190.6.22', database='u485051925_tecog', user='u485051925_cogueur',  password='Josiana34')
sql_conn =  mysql.connector.connect(host='localhost', database='te_cog', user='root',  password='')
query = "SELECT * FROM digit"
df = pd.read_sql(query, sql_conn)
#print('imported')

df = df.set_index(['id_sujet', 'trial', 'item'])
df

                    correct key_press correct_response       rt  time_elapsed  \
id_sujet trial item
27       1     1                    4                7  425.570          6245
               2                    9                8   11.355          6257
               3          1         3                3    7.320          6265
         2     1                    5                6  457.315         12229
               2                    7                9   61.345         12291
               3                    4                8   19.505         12310
               4                    8                3    8.875         12320
         3     1                    5                6  575.640         19401
               2                    8                9   57.655         19459
               3                    9                7    0.125         19460
               4                    4                2   25.000         19485
               5                    3                4   19.400         19505
28       1     1                    4                7  425.570          6245
               2                    9                8   11.355          6257
               3          1         3                3    7.320          6265
         2     1                    5                6  457.315         12229
               2                    7                9   61.345         12291
               3                    4                8   19.505         12310
               4                    8                3    8.875         12320
         3     1                    5                6  575.640         19401
               2                    8                9   57.655         19459
               3                    9                7    0.125         19460
               4                    4                2   25.000         19485
               5                    3                4   19.400         19505

                     test_part
id_sujet trial item
27       1     1     trial_1_1
               2     trial_1_2
               3     trial_1_3
         2     1     trial_2_1
               2     trial_2_2
               3     trial_2_3
               4     trial_2_4
         3     1     trial_3_1
               2     trial_3_2
               3     trial_3_3
               4     trial_3_4
               5     trial_3_5
28       1     1     trial_1_1
               2     trial_1_2
               3     trial_1_3
         2     1     trial_2_1
               2     trial_2_2
               3     trial_2_3
               4     trial_2_4
         3     1     trial_3_1
               2     trial_3_2
               3     trial_3_3
               4     trial_3_4
               5     trial_3_5

In [93]:
query = "SELECT * FROM sujets"
sujets = pd.read_sql(query, sql_conn)
sujets

   id_sujet code_sujet
0        27       test
1        28       test

In [102]:
sujets_list = sujets['id_sujet'].tolist()
sujets_list

[27, 28]

In [116]:
exp = []
for i in sujets_list:
    temp = pd.DataFrame(df.xs(i))
    exp.append(temp)

exp[0]

           correct key_press correct_response       rt  time_elapsed  \
trial item
1     1                    4                7  425.570          6245
      2                    9                8   11.355          6257
      3          1         3                3    7.320          6265
2     1                    5                6  457.315         12229
      2                    7                9   61.345         12291
      3                    4                8   19.505         12310
      4                    8                3    8.875         12320
3     1                    5                6  575.640         19401
      2                    8                9   57.655         19459
      3                    9                7    0.125         19460
      4                    4                2   25.000         19485
      5                    3                4   19.400         19505

            test_part
trial item
1     1     trial_1_1
      2     trial_1_2
      3     trial_1_3
2     1     trial_2_1
      2     trial_2_2
      3     trial_2_3
      4     trial_2_4
3     1     trial_3_1
      2     trial_3_2
      3     trial_3_3
      4     trial_3_4
      5     trial_3_5